* {
    box-sizing: border-box;
}

#divStars {
    text-align:center;
    color: red;
    
}


.flex-container {
    background: rgb(243, 222, 222);
    padding: 10px;
    border: 5px solid black;
    height: 700px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    /*flex-flow: row wrap;*/
    align-items: center;
    justify-content: center;
    align-content: center;
  }

  
